*.kdev4
.kdev_include_paths
build*

subprojects/PEGTL-2.5.2-mesonwrap/
subprojects/actor-framework-0.15.7-mesonwrap/
subprojects/asio-asio-1-11-0-mesonwrap2/
subprojects/bmcl/
subprojects/decode/
subprojects/packagecache/
subprojects/tclap-1.2.2-mesonwrap/
subprojects/toml11/
subprojects/zpaq-7.15-mesonwrap/
